#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Center the menu items and stretch them across the full menubar width */
.p-menubar {
  justify-content: center !important;
}

.p-menubar-root-list {
  flex: 1;
  /* display: flex; */
  justify-content: center;
  gap: 1.5rem; /* adjust spacing between items as you like */
}

/* Styles for Charts */
.chart-green-1 {
  width: 100% !important;
  height: 100% !important;
}

.chart-green-2 {
  width: 100% !important;
  height: 100% !important;
}

.chart-green-3 {
  width: 100% !important;
  height: 100% !important;
}

.chart-green-4 {
  width: 100% !important;
  height: 100% !important;
}


.chart-green-6 {
  width: 100% !important;
  height: 100% !important;
}

.chart-green-7 {
  width: 100% !important;
  height: 100% !important;
}